@tailwind base;
@tailwind components;
@tailwind utilities;

body {
    font-family: 'Figtree', sans-serif;
    cursor:default;
    background: #f9f9f9;
    
}

div {
    /*border: solid 1px darkred;*/
}
